<a href="https://colab.research.google.com/github/AnnJossanMayor/CpE-032.1-1-CAO-Lab/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [ ]:
if 5>2:
  print ("5 is greater than 2")

5 is greater than 2

Python Comment

In [ ]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [ ]:
z = 1
z,s =0,-1
z,s,t= 8,9,10
print (z)

Casting

In [ ]:
b="Sally" #This is a string
b = int(4)
b

4

In [ ]:
print(type(b))

<class 'int'>

Double Quote and Single Quote

In [ ]:
w = "Ana"
print (w)
q = 'Ana'
print (q)

Ana
Ana

Case Sensitive

In [ ]:
a = int(4)
A = "Sally"
A

'Sally'

Multiple Variable

In [ ]:
h,i,j = "one",'two',"three"
print(h,i,j)

one two three

Multiple Variables with Single Value

In [ ]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [12]:
n = "enjoying"
p = "Python  programming is "
print(p + n)

Python  programming is enjoying